<body>
    <section class="book-store">
        <div class="texts">
            <h5>Ebook Store Template</h5>
            <h1>Book Store</h1>
            This place has all the features of a perfect book shop. Throughout <br> 2 stylish as well as peaceful
            levels,
            the <br>
            cozy shop
            features a broad yet taken into consideration range of modern fiction as well as non-fiction
            <br> titles,
            along
            with a large
            selection of <br> worldwide imports. Would you like to check out our Ebook Store Template?
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card-1">
                    <img class="card-img-top" src="~/assets/images/01-02-4.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wide Select</h5>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-2">
                    <img class="card-img-top" src="~/assets/images/fast-delivery-svgrepo-com.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wide Selection</h5>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-3">
                    <img class="card-img-top" src="~/assets/images/113ad72bb57baa97f4966c25287af15e.svg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wide Selection</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>